In [248]:
import pandas as pd
import numpy as np

In [249]:
#Loading dataset
data = pd.read_csv(r'Downloads/Uncleaned_DS_jobs.csv')
data

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [250]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

In [251]:
#Dropping the index column because its not necessary
data = data.drop(columns = ['index'])

In [252]:
#Removing Glassdoor est. from the salary
data['Salary Estimate'] = data['Salary Estimate'].str.replace(r'\(.*?\)', '', regex=True)
data['Salary Estimate'] = data['Salary Estimate'].str.replace('K', '').str.replace('$','').str.strip()
data['Salary Estimate'].unique()

array(['137-171', '75-131', '79-131', '99-132', '90-109', '101-165',
       '56-97', '79-106', '71-123', '90-124', '91-150', '141-225',
       '145-225', '79-147', '122-146', '112-116', '110-163', '124-198',
       '79-133', '69-116', '31-56', '95-119', '212-331', '66-112',
       '128-201', '138-158', '80-132', '87-141', '92-155', '105-167'],
      dtype=object)

In [253]:
#Sepearating the Minimum Salary from the Maximum Salary
data[['Minimum Salary ($)', 'Maximum Salary ($)']] = data['Salary Estimate'].str.split('-', expand=True)
data['Minimum Salary ($)'] = pd.to_numeric(data['Minimum Salary ($)'], errors='coerce')
data['Maximum Salary ($)'] = pd.to_numeric(data['Maximum Salary ($)'], errors='coerce')
data = data.drop('Salary Estimate', axis = 1)

In [254]:
#Moving the Min & Max Salary columns to the 3rd and 4th columns

#Getting the list order
cols = data.columns.tolist()

#Removing the Min & Max Salary columns from the current position
cols.remove('Minimum Salary ($)')
cols.remove('Maximum Salary ($)')

#Putting them in the order i want
cols.insert(1, 'Minimum Salary ($)')
cols.insert(2, 'Maximum Salary ($)')

#Reindexing the dataframe to the new order
data = data[cols]
data

,Job Title,Minimum Salary ($),Maximum Salary ($),Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,137,171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,137,171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,137,171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,137,171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,137,171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,105,167,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,Data Scientist,105,167,Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,Data Scientist,105,167,Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,Data Scientist,105,167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,Data Scientist,105,167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [255]:
#Removing extra and unwanted characters from job description
data['Job Description'] = data['Job Description'].str.encode('ascii', 'ignore').str.decode('ascii')

In [256]:
#Removing the ratings attached to the company names
data['Company Name'] = data['Company Name'].str.extract(r'^(.*?)(?:\s\d\.\d)?$')[0]
data

,Job Title,Minimum Salary ($),Maximum Salary ($),Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,137,171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,137,171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,137,171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,137,171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,137,171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,105,167,Summary\n\nWere looking for a data scientist t...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,Data Scientist,105,167,Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,Data Scientist,105,167,Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,Data Scientist,105,167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,Data Scientist,105,167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [257]:
#Replacing -1 in the rating with np.nan to help with filling missing rates
data['Rating'] = data['Rating'].replace(-1, np.nan)

# Filling the missing ratings with the average rating
data['Rating'] = data['Rating'].fillna(data['Rating'].mean()).round(1)
data

,Job Title,Minimum Salary ($),Maximum Salary ($),Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,137,171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,137,171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,137,171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,137,171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,137,171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,105,167,Summary\n\nWere looking for a data scientist t...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,Data Scientist,105,167,Job Description\nBecome a thought leader withi...,3.9,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,Data Scientist,105,167,Join a thriving company that is changing the w...,3.9,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,Data Scientist,105,167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,Data Scientist,105,167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [258]:
(data['Company Name'] == '-1').sum() #I noticed -1 was used to reperesent unknown values, i did this how many was missen, company name and location result was both 0
(data['Location'] == '-1').sum() 
(data['Headquarters'] == '-1').sum() # This had 31 missen values

#Replacing '-1' with Unknown for analysis
data['Headquarters'] = data['Headquarters'].replace('-1', 'Unknown')
data

,Job Title,Minimum Salary ($),Maximum Salary ($),Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,137,171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,137,171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,137,171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,137,171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,137,171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,105,167,Summary\n\nWere looking for a data scientist t...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,Data Scientist,105,167,Job Description\nBecome a thought leader withi...,3.9,JKGT,"San Francisco, CA",Unknown,-1,-1,-1,-1,-1,-1,-1
669,Data Scientist,105,167,Join a thriving company that is changing the w...,3.9,AccessHope,"Irwindale, CA",Unknown,-1,-1,-1,-1,-1,-1,-1
670,Data Scientist,105,167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,Data Scientist,105,167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [259]:
# CLeaning the Size Column for proper analysis
data['Size'].unique() #This helps me get the unique size categories

#Defining the group labels
size_labels = {
    '1 to 50 employees': 'Micro',
    '51 to 200 employees': 'Small',
    '201 to 500 employees': 'Medium',
    '501 to 1000 employees': 'Medium Large',
    '1001 to 5000 employees': 'Large',
    '5001 to 10000 employees': 'Very Large',
    '10000+ employees': 'Enterprise',
    '-1': 'Unknown',
    'Unknown': 'Unknown'
}
data['Size'] = data['Size'].map(size_labels) #This maps the group levels into the size column
data

,Job Title,Minimum Salary ($),Maximum Salary ($),Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,137,171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",Large,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,137,171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",Very Large,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,137,171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",Large,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,137,171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",Medium Large,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,137,171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",Small,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,105,167,Summary\n\nWere looking for a data scientist t...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",Large,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,Data Scientist,105,167,Job Description\nBecome a thought leader withi...,3.9,JKGT,"San Francisco, CA",Unknown,Unknown,-1,-1,-1,-1,-1,-1
669,Data Scientist,105,167,Join a thriving company that is changing the w...,3.9,AccessHope,"Irwindale, CA",Unknown,Unknown,-1,-1,-1,-1,-1,-1
670,Data Scientist,105,167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",Micro,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,Data Scientist,105,167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",Large,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [260]:
(data['Founded'] == -1).sum() # We have 118 missen values reperesented as -1

data['Founded'] = data['Founded'].replace(-1, np.nan)
data['Founded'] = pd.to_numeric(data['Founded'], errors = 'coerce')
data['Founded'] = data['Founded'].astype('Int64')
#data['Founded'] = data['Founded'].fillna('Unknown')
data

,Job Title,Minimum Salary ($),Maximum Salary ($),Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,137,171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",Large,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,137,171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",Very Large,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,137,171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",Large,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,137,171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",Medium Large,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,137,171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",Small,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,105,167,Summary\n\nWere looking for a data scientist t...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",Large,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,Data Scientist,105,167,Job Description\nBecome a thought leader withi...,3.9,JKGT,"San Francisco, CA",Unknown,Unknown,<NA>,-1,-1,-1,-1,-1
669,Data Scientist,105,167,Join a thriving company that is changing the w...,3.9,AccessHope,"Irwindale, CA",Unknown,Unknown,<NA>,-1,-1,-1,-1,-1
670,Data Scientist,105,167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",Micro,<NA>,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,Data Scientist,105,167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",Large,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [261]:
(data['Type of ownership'] == '-1').sum() #This had 27 missen values as -1

data['Type of ownership'].unique() #This was to know the unique types of ownership being recorded

#Defining the types as some where repeated but in another format
ownership_mapping = {
    'Company - Private': 'Private',
    'Private Practice / Firm': 'Private',
    'Company - Public': 'Public',
    'Subsidiary or Business Segment': 'Subsidiary',
    'Nonprofit Organization': 'Nonprofit',
    'Government': 'Government',
    'Hospital': 'Hospital',
    'College / University': 'Education',
    'Self-employed': 'Self-employed',
    'Contract': 'Contract',
    'Other Organization': 'Other',
    'Unknown': 'Unknown',
    '-1': 'Unknown'
}

data['Type of ownership'] = data['Type of ownership'].map(ownership_mapping) #This inserts the maps in the ownership types
data

,Job Title,Minimum Salary ($),Maximum Salary ($),Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,137,171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",Large,1993,Nonprofit,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,137,171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",Very Large,1968,Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,137,171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",Large,1981,Private,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,137,171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",Medium Large,2000,Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,137,171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",Small,1998,Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,105,167,Summary\n\nWere looking for a data scientist t...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",Large,1989,Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,Data Scientist,105,167,Job Description\nBecome a thought leader withi...,3.9,JKGT,"San Francisco, CA",Unknown,Unknown,<NA>,Unknown,-1,-1,-1,-1
669,Data Scientist,105,167,Join a thriving company that is changing the w...,3.9,AccessHope,"Irwindale, CA",Unknown,Unknown,<NA>,Unknown,-1,-1,-1,-1
670,Data Scientist,105,167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",Micro,<NA>,Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,Data Scientist,105,167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",Large,1976,Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [262]:
(data['Industry'] == '-1').sum() #This had 71 missen values as -1

data['Industry'].unique()

data['Industry'] = data['Industry'].replace('-1', 'Unknown') #Replacing -1 with Unknown
data

,Job Title,Minimum Salary ($),Maximum Salary ($),Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,137,171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",Large,1993,Nonprofit,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,137,171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",Very Large,1968,Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,137,171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",Large,1981,Private,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,137,171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",Medium Large,2000,Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,137,171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",Small,1998,Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,105,167,Summary\n\nWere looking for a data scientist t...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",Large,1989,Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,Data Scientist,105,167,Job Description\nBecome a thought leader withi...,3.9,JKGT,"San Francisco, CA",Unknown,Unknown,<NA>,Unknown,Unknown,-1,-1,-1
669,Data Scientist,105,167,Join a thriving company that is changing the w...,3.9,AccessHope,"Irwindale, CA",Unknown,Unknown,<NA>,Unknown,Unknown,-1,-1,-1
670,Data Scientist,105,167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",Micro,<NA>,Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,Data Scientist,105,167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",Large,1976,Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [263]:
(data['Sector'] == '-1').sum() #This had 71 missen values as -1

data['Sector'].unique()

data['Sector'] = data['Sector'].replace('-1', 'Unknown') #Replacing -1 with Unknown
data

,Job Title,Minimum Salary ($),Maximum Salary ($),Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,137,171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",Large,1993,Nonprofit,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,137,171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",Very Large,1968,Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,137,171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",Large,1981,Private,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,137,171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",Medium Large,2000,Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,137,171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",Small,1998,Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,105,167,Summary\n\nWere looking for a data scientist t...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",Large,1989,Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,Data Scientist,105,167,Job Description\nBecome a thought leader withi...,3.9,JKGT,"San Francisco, CA",Unknown,Unknown,<NA>,Unknown,Unknown,Unknown,-1,-1
669,Data Scientist,105,167,Join a thriving company that is changing the w...,3.9,AccessHope,"Irwindale, CA",Unknown,Unknown,<NA>,Unknown,Unknown,Unknown,-1,-1
670,Data Scientist,105,167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",Micro,<NA>,Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,Data Scientist,105,167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",Large,1976,Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [264]:
(data['Revenue'] == '-1').sum() #This had 27 missen values as -1

data['Revenue'].unique()

# Defining Categorical Values for a better understanding of the revenue Values
revenue_categories = {
    'Less than $1 million (USD)': 'Under $1M',
    '$1 to $5 million (USD)': '$1M–$5M',
    '$5 to $10 million (USD)': '$5M–$10M',
    '$10 to $25 million (USD)': '$10M–$25M',
    '$25 to $50 million (USD)': '$25M–$50M',
    '$50 to $100 million (USD)': '$50M–$100M',
    '$100 to $500 million (USD)': '$100M–$500M',
    '$500 million to $1 billion (USD)': '$500M–$1B',
    '$1 to $2 billion (USD)': '$1B–$2B',
    '$2 to $5 billion (USD)': '$2B–$5B',
    '$5 to $10 billion (USD)': '$5B–$10B',
    '$10+ billion (USD)': 'Over $10B',
    'Unknown / Non-Applicable': 'Unknown',
    '-1': 'Unknown'
}
data['Revenue'] = data['Revenue'].map(revenue_categories).str.strip()
data

,Job Title,Minimum Salary ($),Maximum Salary ($),Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,137,171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",Large,1993,Nonprofit,Insurance Carriers,Insurance,Unknown,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,137,171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",Very Large,1968,Public,Research & Development,Business Services,$1B–$2B,-1
2,Data Scientist,137,171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",Large,1981,Private,Consulting,Business Services,$100M–$500M,-1
3,Data Scientist,137,171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",Medium Large,2000,Public,Electrical & Electronic Manufacturing,Manufacturing,$100M–$500M,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,137,171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",Small,1998,Private,Advertising & Marketing,Business Services,Unknown,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,105,167,Summary\n\nWere looking for a data scientist t...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",Large,1989,Private,Advertising & Marketing,Business Services,Unknown,-1
668,Data Scientist,105,167,Job Description\nBecome a thought leader withi...,3.9,JKGT,"San Francisco, CA",Unknown,Unknown,<NA>,Unknown,Unknown,Unknown,Unknown,-1
669,Data Scientist,105,167,Join a thriving company that is changing the w...,3.9,AccessHope,"Irwindale, CA",Unknown,Unknown,<NA>,Unknown,Unknown,Unknown,Unknown,-1
670,Data Scientist,105,167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",Micro,<NA>,Private,Advertising & Marketing,Business Services,$1M–$5M,-1
671,Data Scientist,105,167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",Large,1976,Public,Wholesale,Business Services,$1B–$2B,-1

In [265]:
(data['Competitors'] == '-1').sum() #This had 501 missing values as -1

data['Competitors'] = data['Competitors'].replace('-1', 'Unknown').str.strip() #Replacing -1 with Unknown
data

,Job Title,Minimum Salary ($),Maximum Salary ($),Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,137,171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",Large,1993,Nonprofit,Insurance Carriers,Insurance,Unknown,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,137,171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",Very Large,1968,Public,Research & Development,Business Services,$1B–$2B,Unknown
2,Data Scientist,137,171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",Large,1981,Private,Consulting,Business Services,$100M–$500M,Unknown
3,Data Scientist,137,171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",Medium Large,2000,Public,Electrical & Electronic Manufacturing,Manufacturing,$100M–$500M,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,137,171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",Small,1998,Private,Advertising & Marketing,Business Services,Unknown,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,105,167,Summary\n\nWere looking for a data scientist t...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",Large,1989,Private,Advertising & Marketing,Business Services,Unknown,Unknown
668,Data Scientist,105,167,Job Description\nBecome a thought leader withi...,3.9,JKGT,"San Francisco, CA",Unknown,Unknown,<NA>,Unknown,Unknown,Unknown,Unknown,Unknown
669,Data Scientist,105,167,Join a thriving company that is changing the w...,3.9,AccessHope,"Irwindale, CA",Unknown,Unknown,<NA>,Unknown,Unknown,Unknown,Unknown,Unknown
670,Data Scientist,105,167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",Micro,<NA>,Private,Advertising & Marketing,Business Services,$1M–$5M,Unknown
671,Data Scientist,105,167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",Large,1976,Public,Wholesale,Business Services,$1B–$2B,Unknown